ul {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}
/* First Scene */
.container0 {
  width: 1500px;
  height: 825px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: 2px solid black;
  background: white;
}


.fp-controlArrow.fp-prev {
/*    left: -15px;
    border: none;*/
    /*width: 50px;*/
    height: 10px;
    background: url('../images/right-arrow.png') no-repeat;
    cursor: pointer;
}
.fp-controlArrow.fp-next {
    right: 0;
    border: none;
    width: 50px;
    height: 101px;
    background: url('../images/right-arrow.png') no-repeat;
    cursor: pointer;
}

.scene div {
  position: relative;
}

.hobbes {
  top: 300px;
  left: 414px;
}

.hobbes img {
  /* Dimensions: 2944 × 1840; 25% */ 
  width: 736px;
}

.calvin {
  top: 300px;
  left: 414px;
}

.calvin img {
  width: 736px;
}

.far-right-rock {
  top: 300px;
  left: 414px;
}

.far-right-rock img {
  width: 736px;
}

.right-rock-2 {
  top: 290px;
  left: 24px;
}

.right-rock-2 img {
  width: 736px;
}

.left-rock-1 {
  top: 330px;
  left: 414px;
}

.left-rock-1 img {
  width: 736px;
}

.left-rock-2 {
  top: 330px;
  left: 414px;
}

.left-rock-2 img {
  /* Dimensions: 2944 × 1840; 25% */ 
  width: 736px;
}

.container1 {
  width: 1500px;
  height: 825px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: 2px solid black;
}

.scene1 {
  background: #5B8C2C;
}

.container {
  width: 1500px;
  height: 825px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background: #5B8C2C;
  border: 2px solid black;
}
.calvin-pool {
  position: absolute;
  top: 30px;
  left: -94px;
}
.calvin-pool img {
  /* Dimensions: 2944 × 1656 50% */
  width: 1472px;
}
.hobbes-pool {
  top: 30px;
  left: -124px;
}
.hobbes-pool img {
   /*Dimensions: 2944 × 1656 50% */
  width: 1472px;
}
.pool {
  position: absolute;
  top: 30px;
  left: -114px;
}
.pool img {
   /*Dimensions: 2944 × 1656 50% */
  width: 1472px;
}
.ball {
  position: absolute;
  top: 30px;
  left: -114px;
}
.ball img {
   /*Dimensions: 2944 × 1656 50% */
  width: 1472px;
}
.back-tree {
  position: absolute;
  top: 0px;
  left: 4px;
}
.back-tree img {
   /*Dimensions: 2944 × 1656 50% */
  width: 1472px;
}

